.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #929AB7;
  color: white;
  height: calc(100% - 60px);
  padding: 5%;
  box-sizing: border-box;
}

.banner-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 40vw;
  max-width: 65vh;
}

.welcome-text {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 3px;
  font-family: Montserrat;
}

.select-text {
  font-size: 20px;
  line-height: 20px;
  font-family: Albert Sans;
}

.role-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

.role-button {
  border: 1px solid black;
  border-radius: 15px;
  background-color: #E8E8E8;
  margin: 1vw;
  cursor: pointer;
  max-width: 20vh;
  max-height: 25vh;
}

.role-button img {
  width: 7vw;
  max-width: 13vh;
  padding: 1vw;
}

.role-button-text {
  font-family: "Albert Sans";
  font-size: 12px;
  line-height: 15px;
  color: #6E717B;
}

.not-selected-button {
  opacity: 65%;
}

.register-text {
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  color: #F6F4F4;
  font-family: Albert Sans;
}
