.all-container {
  background-color: #F1F1F1;
}

.top-part {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 35px;
  background-color: white;
}

.top-part h1 {
  margin: 0;
  font-family: "Albert Sans";
  font-size: 43px;
  color: #7A7575;
}

.confirm_selection_container {
  width: 26vw;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgb(180, 180, 180);
  background: linear-gradient(to left, rgb(57, 166, 41), rgb(67, 193, 48));
  display: flex; 
  justify-content: center; 
  align-items: center;
  cursor: pointer;
}
.confirm_selection_container:hover {
  background: linear-gradient(to left, rgb(47, 136, 33), rgb(62, 181, 44));
}
