.top-part {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 8vh;
}

.top-part h1 {
  margin: 0;
  font-family: "Albert Sans";
  font-size: 50px;
  color: #7A7575;
}

.bottom-part button {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 2vw;
  margin-bottom: 3vh;
}

.bottom-part {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
