<div class="all-container">
  <div class="top-part">
    <button mat-mini-fab (click)="goBack()" [disabled]="eventOrganizationStage === EventOrganizationStage.BASIC_INFORMATION">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>{{titleMap.get(eventOrganizationStage)}}</h1>
    <span></span>
  </div>

  <!-- Maybe not *ngIf, maybe it should just be with a class that makes it to dissapear?
  Because we need it to keep the data? Or maybe also keep the data here? We will see... -->
  <app-event-creation-basic-information *ngIf="eventOrganizationStage === EventOrganizationStage.BASIC_INFORMATION"></app-event-creation-basic-information>
  <app-agenda-creation *ngIf="eventOrganizationStage === EventOrganizationStage.AGENDA_CREATION"></app-agenda-creation>
  <app-invitations-sending  
    *ngIf="eventOrganizationStage === EventOrganizationStage.INVITATIONS_SENDING"
    (invitedEmailsEventEmitter)="collectInvitedEmails($event)"
  />

  <div style = "box-shadow: 10px 0px 5px rgb(228, 228, 228); padding: 18px; bottom: 0; background-color: white; border-left: solid 3px #F1F1F1;">
    <div style = "display: flex; justify-content: center;">
      <div class = "confirm_selection_container" *ngIf="!isForward()" (click)="submit()">
        <p style = "font-size: 18px; margin: 0; color: white; font-weight: 600; font-family: Albert Sans;">CONFIRM CREATION</p>
      </div>
      <div class = "confirm_selection_container" *ngIf="isForward()" (click)="goForward()">
        <p style = "font-size: 18px; margin: 0; color: white; font-weight: 600; font-family: Albert Sans;">CONTINUE</p>
      </div>
    </div>
 </div>
  
</div>
