.sticky_container {
   position: sticky;
   top: 0;
   width: 33%;
   background-color: white;   
   color: black;
   height: 100vh;
}

   .container {
      height: 100vh;
   }

   .solution_filters_double {
      display: flex; 
      flex-direction: row; 
      width: 27vw;
      justify-content: space-between;
   }

   .input_container {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
   }

      .input_label {
         margin: 0 !important;
         color: #C4C2C2;
         font-family: Albert Sans;
      }

   .resetFilterContainer {
      display: flex; 
      justify-content: center; 
      align-items: center; 
      flex-direction: row; 
      background-color: #ED4D4D; 
      border-radius: 7px; 
      width: 115px; 
      padding-bottom: 7px; 
      padding-top: 7px; 
      padding-right: 6.5px;
   }

   .resetFilterContainer:hover {
      background-color: #ed4d4ddf;
   }  

   .confirm_filter_container {
      width: 26vw;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 0px 0px 3px rgb(180, 180, 180);
      background-color: rgb(57, 166, 41);
      display: flex; 
      justify-content: center; 
      align-items: center;
      cursor: pointer;
   }