<!-- TABS -->
<div class = "tabs_container">
   <div class = "events_tab_container">
      <div class = "events_tab_left_border"></div>
      
      <div class = "tab_icon_and_name">
         <img class = "tab_icon" src = "organiser_white_background.png">
         <p class = "tab_name"> Events </p>
      </div>
   </div>

   <div class = "solutions_tab_container">
      <div class = "solutions_tab_left_border"></div> 

      <div class = "tab_icon_and_name">
         <img class = "tab_icon" src = "provider_white_background.png">
         <p class = "tab_name"> Solutions </p>
      </div>
   </div>
</div>

<!-- FEATURED ITEMS -->
<div class = "featured_items">

</div>
