<!-- TABS -->
<div class = "tabs_container">
   <div class = "events_tab_container" style = "opacity: 100%"> <!-- TO-DO: tab active: 100%, tab inactive: 40% -->
      <div class = "events_tab_left_border"></div>
      
      <div class = "tab_icon_and_name">
         <img class = "tab_icon" src = "organiser_white_background.png">
         <p class = "tab_name"> Events </p>
      </div>
   </div>

   <div class = "solutions_tab_container" style = "opacity: 40%;"> <!-- TO-DO: tab active: 100%, tab inactive: 40% -->
      <div class = "solutions_tab_left_border"></div> 

      <div class = "tab_icon_and_name">
         <img class = "tab_icon" src = "provider_white_background.png">
         <p class = "tab_name"> Solutions </p>
      </div>
   </div>
</div>

<!-- FEATURED ITEMS TITLE -->
<div class = "featured_items_title_container">
   <div class = "events_title_container" style = "display: flex"> <!-- TO-DO: tab active: flex, tab inactive: none -->
      <img src = "event_assets/featured_events_title.png" width="100%">
   </div>

   <div class = "solutions_title_container" style = "display: none;"> <!-- TO-DO: tab active: flex, tab inactive: none -->
      <img src = "event_assets/featured_solutions_title.png" width="100%">
   </div>
</div>

<!-- FEATURED ITEMS -->
<div class = "featured_items_container">
   <div class = "featured_left">
      <app-event-card class = "featured_card">  

      </app-event-card>
   </div>
   
   <div class = "featured_right">
      <app-event-card class = "featured_card">  

      </app-event-card>
   </div>
   
   <div class = "featured_left">
      <app-event-card class = "featured_card">  

      </app-event-card>
   </div>
   
   <div class = "featured_right">
      <app-event-card class = "featured_card">  

      </app-event-card>
   </div>
   
   <div class = "featured_left">
      <app-event-card class = "featured_card">  

      </app-event-card>
   </div>
   
</div>