<h2 mat-dialog-title>{{message}}</h2>
<mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="categoryName" placeholder="Enter category name" />
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="categoryDescription" placeholder="Enter category description" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="saveInput()">OK</button>
  <button mat-button (click)="closeDialog()">Cancel</button>
</mat-dialog-actions>
