<form class="form" [formGroup]="loginForm">
  <p class="login-label">
    Login
  </p>

  <div class="fields">
    <mat-form-field class="field">
      <mat-label>Email</mat-label>
      <input id = "email-input" matInput placeholder="Ex. something@gmail.com" formControlName="email" />
    </mat-form-field>

    <mat-form-field class="field">
      <mat-label>Password</mat-label>
      <input id = "password-input" matInput type="password" formControlName="password" />
    </mat-form-field>
  </div>

  <button id = "login-button" mat-flat-button class="button" (click)="login()" type="submit">LOGIN</button>
</form>
