<div class="container">
    <mat-card>
        <mat-card-content>
            <b>{{categoryDouble[0].name}}</b>
            <div class = "manipulation_buttons_container">
                <a mat-button class="edit-btn" (click)="editCategory(categoryDouble[0], 0)">
                  <mat-icon>edit</mat-icon> Edit
                </a>
                <a mat-button class="delete-btn" (click)="deleteCategory(categoryDouble[0])">
                  <mat-icon>delete</mat-icon> Delete
                </a>
            </div>
        </mat-card-content>
    </mat-card>

    <mat-card *ngIf="categoryDouble[1]">
        <mat-card-content>
            <b>{{categoryDouble[1].name}}</b>
            <div class = "manipulation_buttons_container">
                <a mat-button class="edit-btn" (click)="editCategory(categoryDouble[1], 1)">
                  <mat-icon>edit</mat-icon> Edit
                </a>
                <a mat-button class="delete-btn" (click)="deleteCategory(categoryDouble[1])">
                  <mat-icon>delete</mat-icon> Delete
                </a>
            </div>
        </mat-card-content>
    </mat-card>

    
</div>