<div style = "background-color: #F1F1F1; width: 100%; position: relative;">
    <!-- EVENTS FILTER -->
    <app-event-filters
       (filtersChanged)="handleFiltersChanged($event)" 
       (filtersReset)="handleFiltersReset()"/>
    <!-- SELECT EVENT FROM ALL EVENTS -->
    <app-all-events 
       [filters]="filters" 
       [searchQuery]="searchQuery"
       (clickedEventCardEventEmitter)="onEventSelected($event)" 
       [isCardClickable]="true"/>
       <div style = "box-shadow: 10px 0px 5px rgb(206, 206, 206); padding: 18px; margin-left: 33%; bottom: 0; position: sticky; background-color: white; border-left: solid 3px #F1F1F1;">
        <div style = "display: flex; justify-content: center;">
            <button mat-button (click)="cancel()">
                <mat-icon>close</mat-icon> Cancel
            </button>
            <button mat-button (click)="confirm()">
                <mat-icon>check</mat-icon> Confirm
            </button>
        </div>  
     </div>
</div>

