<div class = "card_container">
   <div class = "left_side_container">
      <div class = "title_container">
         <p class = "title">{{productCard.name}}</p>
      </div>

      <div class = "category_container">
         <p style = "margin-right: 5px;" class = "category">Category:</p>
         <p class = "category">{{productCard.categoryName}}</p>
      </div>

      <div class = "description_container">
         <div style = "display: flex; flex: 1; flex-direction: column; padding: 4px; padding-left: 8px; padding-right: 8px; padding-bottom: 5px;">
            <p style = "margin: 0; font-size: 14px; color: #AEAAAA;  margin-bottom: -2px; margin-top: -2px"> Description: </p>
            <p id = "description" class = "description"> {{productCard.description}} </p>
         </div>
      </div>

      <div class = "event_types_all_container">
         <p style = "margin-right: 5px; padding-bottom: 5px;" class = "category">Event types:</p>

         <div class = "event_types_container">
            <div class = "event_type_container" *ngFor="let name of productCard.eventTypeNames">
               <p style = "color: #4e4e4e; margin: 0; font-size: 13.5px; font-family: Albert Sans; font-weight: 600;">{{name}}</p>
            </div>
            <div class = "event_type_container">
               <p style = "color: #4e4e4e; margin: 0; font-size: 13.5px; font-family: Albert Sans; font-weight: 600;">...</p>
            </div>
         </div>
      </div>

      <div class = "organiser_container">
         <img src = "{{productCard.providerImageUrl}}" class = "organiser_img" [routerLink]="['/users', productCard.providerId]">
         <div style = "display: flex; flex-direction: column; margin-left: 9px;">
            <p style = "margin-right: 5px; margin-top: 1px" class = "category">Provider:</p>
            <p id = "organiser" class = "organiser" style = "margin-top: -1px" [routerLink]="['/users', productCard.providerId]">
              {{productCard.providerName}}
            </p>
         </div>
      </div>
   </div>

   <div class = "right_side_container">
      <div class = "buttons_container">
         <div class = "price_container">
            <div style = "display: inline-block" [ngStyle]="{'visibility' : productCard.discount === 0 ? 'hidden' : 'visible'}">
               <p class = "old_price">{{(productCard.price).toFixed(2)}}$</p>
            </div>
            <p [ngStyle]="{'margin-top' : productCard.discount === 0 ? '-11px' : '0px',
                           'padding-bottom': productCard.discount === 0 ? '11px' : '0px'}"  class = "current_price">{{(productCard.price - productCard.price * productCard.discount / 100).toFixed(2)}}$</p>
         </div>
         <div style = "justify-content:right; align-items: center; display: flex; flex: 1.3;">
            <div class = "{{productCard.isFavorite ? 'favorite_button_container_true' : 'favorite_button_container'}}"
                 (click)="handleFavoriteItem()">
               <mat-icon style = "{{productCard.isFavorite ? 'font-size: 25.5px; color: white; font-weight: 500; transform: scale(0.8);' :
                 'font-size: 25.5px; color: #929AB7; font-weight: 500; transform: scale(0.8);'}}">favorite_border</mat-icon>
            </div>

            <div class = "see_more_button_container" [routerLink]="['/solutions', productCard.solutionId]">
               <p style = "margin: 0; color: #929AB7; font-size: 14px; font-family: Albert Sans; font-weight: 650;">SEE MORE</p>
            </div>
         </div>
      </div>

      <div class = "image_container">
         <img class = "service_image" src = "{{productCard.firstImageUrl}}"/>
      </div>
   </div>
</div>
