<div class = "header_container">
   <div class = "progress_bar_container">
      <div class="progress_bar">
         <!-- Step 1 -->
         <div class = "step" style = "align-items: start;">
            <div style = "display: flex; flex-direction: column; justify-content: center; align-items: center;">
               <div class = "circle active">1</div>
               <span class = "label">Select</span>
               <span class = "label">Event</span>
            </div>
         </div>
       
         <!-- Step 2 -->
         <div class = "step">
            <div style = "display: flex; flex-direction: column; justify-content: center; align-items: center;">
               <div class = "circle">2</div>
               <span class = "label">Select</span>
               <span class = "label">Datetime</span>
            </div>
         </div>
       
         <!-- Step 3 -->
         <div class = "step" style = "align-items: end;">
            <div style = "display: flex; flex-direction: column; justify-content: center; align-items: center;">
               <div class = "circle">3</div>
               <span class = "label">Confirm</span>
               <span class = "label">Reservation</span>
            </div>
         </div>
      </div>
      <div class = "lines_container">
         <div class = "line_container">
            <div class = "line" style = "background: #e0e0e0;"></div>
         </div>
           
         <div class = "line_container">
            <div class = "line" style = "background: #e0e0e0;"></div>
         </div>
      </div>
   </div>
</div>

<div style = "background-color: #F1F1F1; width: 100%; position: relative;">
   <!-- EVENTS FILTER -->
   <app-event-filters
      (filtersChanged)="handleFiltersChanged($event)" 
      (filtersReset)="handleFiltersReset()"/>
   <!-- SELECT EVENT FROM ALL EVENTS -->
   <app-all-events 
      [filters]="filters" 
      [searchQuery]="searchQuery"
      (clickedEventCardEventEmitter)="onEventSelected($event)" 
      [isCardClickable]="true"/>
   <div style = "box-shadow: 10px 0px 5px rgb(206, 206, 206); padding: 18px; margin-left: 33%; bottom: 0; position: sticky; background-color: white; border-left: solid 3px #F1F1F1;">
      <div style = "display: flex; justify-content: center;">
         <div class = "confirm_selection_container" (click)="onContinueButtonClicked()">
            <p style = "font-size: 18px; margin: 0; color: white; font-weight: 600; font-family: Albert Sans;">CONTINUE</p>
         </div>
      </div>  
   </div>
</div>
