<div class="create_review_dialog">
   <div class = "title_container">
      <mat-icon class = "icon">event_available</mat-icon>
      <p class = "title">{{data.title}}</p>
   </div>
   <p class = "message">{{data.message}}</p>

   <div class = "grades_container">
      <mat-icon style = "color: #FBD917" (click)="changeGrade(1)">star</mat-icon>

      <mat-icon *ngIf="grade <= 1" style = "color: #D9D9D9" (click)="changeGrade(2)">star</mat-icon>
      <mat-icon *ngIf="grade > 1" style = "color: #FBD917" (click)="changeGrade(2)">star</mat-icon>
      
      <mat-icon *ngIf="grade <= 2" style = "color: #D9D9D9" (click)="changeGrade(3)">star</mat-icon>
      <mat-icon *ngIf="grade > 2" style = "color: #FBD917" (click)="changeGrade(3)">star</mat-icon>
      
      <mat-icon *ngIf="grade <= 3" style = "color: #D9D9D9" (click)="changeGrade(4)">star</mat-icon>
      <mat-icon *ngIf="grade > 3" style = "color: #FBD917" (click)="changeGrade(4)">star</mat-icon>
      
      <mat-icon *ngIf="grade <= 4" style = "color: #D9D9D9" (click)="changeGrade(5)">star</mat-icon>
      <mat-icon *ngIf="grade > 4" style = "color: #FBD917" (click)="changeGrade(5)">star</mat-icon>
   </div>

   <form [formGroup]="reviewForm">
      <mat-form-field id = "create_review_message" class="field">
         <mat-label>Message</mat-label>
         <textarea type="text" matInput placeholder="Your Message" formControlName="message"
                  cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" rows="2"></textarea>
         @if (reviewForm.controls['message'].hasError('required')) {
         <mat-error>Message is <strong>required</strong></mat-error>
         }
         <button matSuffix mat-icon-button aria-label="Clear" (click)="resetValue('message')">
         <mat-icon>close</mat-icon>
         </button>
      </mat-form-field>
   </form>
   
   <div style = "display: flex; justify-content: center; margin-top: 13px;">
      <div class = "confirm_filter_container" (click) = "confirmReview()">
         <p style = "font-size: 18px; margin: 0; color: white; font-weight: 600; font-family: Albert Sans;">CONFIRM</p>
      </div>
   </div>  
</div>
