.services-wrapper {
    display: flex;      /* Centers the items vertically */
    flex-direction: column;
}

.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  