.card_container {
   display: flex;
   width: 43em;
   background-color: white;
   margin: 10px;
   border-radius: 10px;
   border-left: solid 13px #808AAC;
   padding-left: 16px;
   padding-right: 17px;
}

   .left_side_container {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding-top: 14px;
      margin-right: 12px;
      padding-bottom: 13px;
   }

      .title_container {
         display: flex;
         width: 100%;
         border-bottom: solid 1.5px #EDEDED;
      }

         .title {
            margin: 0;
            color: #798098;
            font-weight: 600;
            padding-bottom: 7px;
            font-size: 18.5px;
            font-family: Albert Sans;
         }

      .type_container {
         display: flex;
         width: 100%;
         flex-direction: row;
         padding-top: 7px;
         padding-bottom: 10px;
      }

         .type {
            margin: 0;
            color: #b9b4b4;
            font-size: 16px;
            font-family: Albert Sans;
            font-weight: 450;
         }

      .max_participants_container {
         display: flex;
         width: 100%;
         padding-bottom: 12px;
      }

         .max_participants {
            color: #717171;
            margin: 0;
            font-size: 17px;
            font-weight: 500;
            font-family: Albert Sans;
         }

      .date_location_container {
         display: flex;
         width: 100%;
         flex-direction: column;
         padding-bottom: 10px;
      }

         .date {
            margin: 0;
            padding-bottom: 1px;
            font-size: 17px;
            font-weight: 450;
            color: #717171;
            letter-spacing: 0;
            font-family: Figtree;
         }

         .location {
            margin: 0;
            font-size: 17px;
            font-weight: 450;
            color: #717171;
            letter-spacing: 0;
            font-family: Figtree;
         }

      .organiser_container {
         display: flex;
         width: 100%;
         flex-direction: row;
         cursor: pointer;
      }

         .organiser_img {
            width: 48px;
            height: 48px;
            border-radius: 100px;
         }

         .organiser {
            margin: 0;
            font-size: 17px;
            font-weight: 500;
            color: #798098;
            letter-spacing: 0;
            font-family: Figtree;
         }

   .right_side_container {
      display: flex;
      flex: 1.1;
      padding-top: 12px;
      padding-bottom: 14px;
      flex-direction: column;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
   }

      .buttons_container {
         display: flex;
         margin-bottom: 11px;
      }

         .open_event {
            margin: 0;
         }

         .favorite_button_container {
            position: relative;
            display: flex;
            padding: 3px;
            padding-left: 3px;
            padding-right: 5.5px;
            justify-content: center;
            align-items: center;
            border-radius: 7px;
            border: solid 2px #929AB7;
            margin-right: 13px;
            cursor: pointer;
         }

         .see_more_button_container {
            display: flex;
            padding: 3px;
            padding-left: 9px;
            padding-right: 9px;
            justify-content: center;
            align-items: center;
            border-radius: 7px;
            border: solid 2px #929AB7;
            margin: 0px;
            margin-left: 0px;
            cursor: pointer;
            margin-right: 4px;
         }

         .favorite_button_container:hover {
            background-color: #929AB7;
         }
         .favorite_button_container:hover mat-icon {
            color: white !important;
         }
         .see_more_button_container:hover {
            background-color: #929AB7;
         }
         .see_more_button_container:hover p {
            color: white !important;
         }

      .description_container {
         display: flex;
         height: 100%;
         margin-top: 2px;
         border-radius: 8px;
         box-shadow: 0px 0px 3px #adadadcb;
      }

         .description {
            overflow: hidden;
            margin: 0;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 7;
            line-clamp: 7;
            font-size: 15px;
            line-height: 20px;
            color: #5B5B5B;
            letter-spacing: 0.3;
         }
