.card_container {
   display: flex;
   width: 580px;
   background-color: white;
   margin: 10px;
   border-radius: 10px;
   border-left: solid 13px #808AAC;
}  

   .left_side_container {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding-left: 14px;
      padding-top: 12px;
      padding-right: 15px;
      padding-bottom: 12px;
      }

      .title_container {
         display: flex;
         width: 100%;
         border-bottom: solid 1.5px #EDEDED;
      }  

         .title {
            margin: 0;  
            color: #5a5959e2;
            font-weight: 600;
            padding-bottom: 5px; 
            font-size: 17.5px;
            font-family: Albert Sans;
         }

      .type_container {
         display: flex;
         width: 100%;
         flex-direction: row;
         padding-top: 10px;
         padding-bottom: 14px;
      }  

         .type {
            margin: 0;
            color: #AEAAAA;
            font-size: 16px;
         }

      .max_participants_container {
         display: flex;
         width: 100%;
         padding-bottom: 20px
      }  

         .max_participants {
            color: #5B5B5B;
            margin: 0;
            font-size: 17px;
         }

      .date_location_container {
         display: flex;
         width: 100%;
         flex-direction: column;
      }  

         .date {
            margin: 0;
            color: #5B5B5B;
            padding-bottom: 5px;
            font-size: 17px;
         }

         .location {
            margin: 0;
            color: #5B5B5B;
            font-size: 17px;
         }

   .right_side_container {
      display: flex;
      flex: 1.1;
      flex-direction: column;
      padding-left: 0px;
      padding-top: 10px;
      padding-right: 15px;
      padding-bottom: 14px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
   }
   
      .buttons_container {
         display: flex;
         margin-bottom: 11px;
      }

         .open_event {
            margin: 0;  
         }

         .favorite_button_container {
            position: relative;
            display: flex;
            padding: 1px;
            padding-left: 1px;
            padding-right: 3.5px;
            justify-content: center;
            align-items: center;
            border-radius: 7px;
            border: solid 2px #929AB7;
            margin-right: 13px;
            cursor: pointer;
         }

         .see_more_button_container {
            display: flex;
            padding: 1px;
            padding-left: 9px;
            padding-right: 9px;
            justify-content: center;
            align-items: center;
            border-radius: 7px;
            border: solid 2px #929AB7;
            margin: 0px;
            margin-left: 0px;
            cursor: pointer;
            margin-right: 4px;
         }

      .description_container {
         display: flex;
         height: 100%;
         border-radius: 8px;
         box-shadow: 0px 0px 3px #adadadcb;
      }

         .description {
            overflow: hidden; 
            margin: 0; 
            display: -webkit-box;
            -webkit-box-orient: vertical; 
            -webkit-line-clamp: 5; 
            line-clamp: 5;
            font-size: 15px; 
            line-height: 20px; 
            color: #5B5B5B; 
            letter-spacing: 0.3;
         }
         