.header_container {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding-top: 13px;
   padding-bottom: 13px;
   border-bottom: #DADADA 1.5px solid;
}

p {
   margin: 0;
}

   .header_title {
      font-size: 20px;
      font-weight: 700;
      font-family: Albert Sans;
      color: #717171;
   }

   .mute_all_container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: white;
      padding: 5px;
      padding-left: 7px;
      padding-right: 12px;
      border-radius: 10px;
      cursor: pointer;
   }
      
      .mute_all_container mat-icon {
         font-size: 22px;
         margin-right: 3px;
      }

      .mute_all_container p {
         font-size: 16px;
         font-family: Albert Sans;
      }

.notifications_container {
   margin-bottom: 70px;
}  

   .timestamp {
      margin-top: 2px;
      font-family: Albert Sans;
      font-size: 14px;
      align-self: flex-end;
      margin-bottom: -6px;
   }

   .pagination_container {
      width: 28wv;
      min-width: 410px;
      align-self: center;
      position: fixed;
      bottom: 0;
      box-shadow: 1px 1px 7px rgb(220, 220, 220);
   }