
<div class = "container">
   
   <!-- SEARCH & FILTER -->
   <div class = "search_and_filter_container"> 
      <div class = "search_container">
         <input class = "search_form" placeholder="Search..">  
         <div class = "search_icon_container">
            <mat-icon style = "font-size: 26px; cursor: pointer;">search</mat-icon>
         </div>    
      </div>

      <div class = "filter_container">
         <div style = "display: flex; flex-direction: row; color: #8F8B8B; margin-left: 5px; font-size: 18px;">
            <p style = "font-weight: 450; margin-right: 5px; font-family: Albert Sans;">Result for:</p>  
            <p style = "font-weight: 450; margin-right: 5px; font-family: Albert Sans; text-decoration: underline 2px #FAD609; text-underline-offset: 3px;">services</p>
            <p style = "font-weight: 450; margin-right: 5px; font-family: Albert Sans;">&</p>
            <p style = "font-weight: 450; margin-right: 5px; font-family: Albert Sans; text-decoration: underline 2px #DD79AE; text-underline-offset: 3px; ">products</p>
            <p style = "font-weight: 450; font-family: Albert Sans;">...</p>
         </div>

         <div id = "all_events" style = "display: flex; flex-direction: row; align-items: center; color: #8F8B8B; margin-left: 50px;">
            <p style = "font-weight: 450; margin: 0; margin-top: -13px; margin-right: 10px; font-family: Albert Sans;">Sort by:</p>
            <mat-form-field>
               <mat-select [(value)]="sortValue">
                  <mat-option [value]="sortValue">Category</mat-option>  
                  <mat-option [value]="sortValue">Name</mat-option>    
                  <mat-option [value]="sortValue">Price (ASC)</mat-option> 
                  <mat-option [value]="sortValue">Price (DESC)</mat-option>       
                  <mat-option [value]="sortValue">Date (ASC)</mat-option>    
                  <mat-option [value]="sortValue">Date (DESC)</mat-option>
                  <mat-option [value]="sortValue">Duration (ASC)</mat-option>      
                  <mat-option [value]="sortValue">Duration (DESC)</mat-option>      
               </mat-select>
            </mat-form-field>
         </div>
      </div>
   </div>

   <!-- ALL EVENTS -->
   <div *ngFor="let solutionCard of allSolutions;">
      <div class="featured_left"> 
         <app-service-card *ngIf="isService(solutionCard)" [serviceCard]="solutionCard" class = "featured_card"/> 
         <app-product-card *ngIf="isProduct(solutionCard)" [productCard]="solutionCard" class = "featured_card"/>      
      </div>   
   </div>
</div>

