<mat-toolbar>
  <div>
    <mat-icon class="drawer-opener clickable" (click)="drawer.toggle()">menu</mat-icon>
    <a class="clickable" [routerLink]="['']">
      <img src="logo-nav.png" alt="Eventy Logo" style = "margin-top: 6px"/>
    </a>
  </div>
  <div>
    <!-- Router Links will be added here -->
<!--    <mat-icon class="tool-bar-icon clickable" [routerLink]="['profile']">account_circle</mat-icon>-->
<!--    <mat-icon class="tool-bar-icon clickable">chat_bubble</mat-icon>-->
<!--    <mat-icon class="tool-bar-icon clickable">notifications</mat-icon>-->
    <mat-icon *ngIf="role !== null" class="tool-bar-icon clickable" [routerLink]="['profile']">account_circle</mat-icon>
    <mat-icon *ngIf="role !== null" class="tool-bar-icon clickable">chat_bubble</mat-icon>
    <mat-icon *ngIf="role !== null" class="tool-bar-icon clickable">notifications</mat-icon>
    <mat-icon *ngIf="role !== null" class="tool-bar-icon clickable" (click)="logOut()">logout</mat-icon>
  </div>
</mat-toolbar>
