mat-toolbar {
    background-color: #929AB7;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

mat-icon {
  font-size: 40px;
  color: white;
  height: 40px;
  width: 40px;
}

.tool-bar-icon {
  margin-left: 25px;
}

.drawer-opener {
  margin-right: 1vw;
}

img {
  height: 60px;
  width: auto;
}

.clickable:hover {
  cursor: pointer;
}
