mat-toolbar {
  background-color: #929AB7;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

mat-icon {
  font-size: 30px;
  color: white;
  height: 30px;
  width: 30px;
}

.tool-bar-icon {
  margin-left: 20px;
}

.drawer-opener {
  margin-right: 20px;
}

img {
  height: 60px;
  width: auto;
}

.clickable:hover {
  cursor: pointer;
}

#notificationsDrawer {
  width: 300px; /* Adjust to your needs */
  background-color: #fff; /* Make it stand out */
  z-index: 1000;
}