<div class="banner">
  <div class="banner-part">
    <p class="welcome-text">
      Welcome to
    </p>

    <img src="logo-background.png" alt="Application logo"/>
  </div>

  <div class="banner-part">
    <p class="song">
      Plan, rent, and celebrate events effortlessly. Your perfect event, just a tap away!
    </p>
  </div>

  <div class="banner-part">
    <p class="register-text">
      Don't have an account?
    </p>

    <a mat-flat-button class="button" [routerLink]="['/register']">REGISTER HERE</a>
  </div>
</div>
