<h2 mat-dialog-title *ngIf="noMoreCategories">There are no more categories to make budget items for. Hooray!</h2>

<h2 mat-dialog-title *ngIf="!noMoreCategories">Enter a new budget item:</h2>
<form [formGroup]="budgetItemForm" (ngSubmit)="submit()">
    <mat-dialog-content *ngIf="!noMoreCategories">
        <mat-form-field appearance="fill">
            <mat-label>Category</mat-label>
                <mat-select placeholder="Choose a category" formControlName="category" required>
                    <mat-option  *ngFor="let category of remainingSolutionCategories" [value]="category.id">
                    {{ category.name }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="budgetItemForm.controls['category'].hasError('required')">
                    category is required
                </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Allocated funds</mat-label>
                <input matInput placeholder="Enter value" formControlName="allocatedFunds" required type="number">
                <mat-error *ngIf="budgetItemForm.controls['allocatedFunds'].hasError('required')">
                    Allocated funds is required
                </mat-error>
                <mat-error *ngIf="budgetItemForm.controls['allocatedFunds'].hasError('min')">
                    Allocated funds must be greater or equal to zero
                </mat-error>
        </mat-form-field>
    
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button type="submit" *ngIf="!noMoreCategories">OK</button>
        <button mat-button type="button" (click)="closeDialog()">Cancel</button>
    </mat-dialog-actions>
</form>
