<div class="event-page-container">
    <div class="event-header">
      <a mat-flat-button class="button"><mat-icon>chat</mat-icon>Chat With Organizer</a>
      <h1 class="event-title">{{event.name}}</h1>
      <div class="buttons">
        <a *ngIf="isOrganizerCheckingDetails() && isInFuture()" mat-flat-button class="button" [routerLink]="['/edit-event', this.event.id]">
          <mat-icon>edit</mat-icon> Edit
        </a>
        <div class = "{{event.isFavorite ? 'favorite_button_container_true' : 'favorite_button_container'}}"
             (click)="handleFavoriteItem()">
          <mat-icon style = "{{event.isFavorite ? 'font-size: 25.5px; color: white; font-weight: 500; transform: scale(0.8);' :
                 'font-size: 25.5px; color: #929AB7; font-weight: 500; transform: scale(0.8);'}}">favorite_border</mat-icon>
        </div>
      </div>
    </div>

  <div class="main-content">
    <div class="event-details">
      <p class="organizer-name"><strong>Event Organizer:</strong> {{event.organizerName}}</p>
      <p class="event-description">
        {{ event.description }}
      </p>

      <div id="map" class="map-container">
        <!-- Leaflet map will be rendered here -->
      </div>
      <p class="event-location">
        {{ event.location.address }}
      </p>

      <p class="event-dates">
        <strong>Date:</strong> {{ event.date | date: 'dd.MM.yyyy.' }}
      </p>

      <div class="download-buttons">
        <button mat-flat-button class="button" (click)="downloadEventDetails()">
          <mat-icon>file_download</mat-icon>
          Event Details
        </button>
        <button mat-flat-button class="button" (click)="downloadGuestList()">
          <mat-icon>file_download</mat-icon>
          Guest List
        </button>
      </div>
    </div>

    <div class="agenda-container">
      <h2 class="agenda-title">Agenda</h2>
      <ul class="agenda-content">
        <li *ngFor="let activity of event.agenda">Activity: {{ activity.name }}, Description: {{ activity.description }}, Location: {{ activity.location }},
        Time Range: {{activity.startTime | date:'dd.MM.yyyy. HH:mm'}} - {{activity.endTime | date:'dd.MM.yyyy. HH:mm'}}</li>
      </ul>
    </div>
  </div>
</div>

