mat-paginator {
    background-color: #F1F1F1;
}

button {
    background-color: #07FC03; 
    color: white !important;
    margin-bottom: 10px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}