<div class="yes_no_dialog">
  <div class = "title_container">
    <mat-icon class = "icon">error</mat-icon>
    <p class = "title">{{data.title}}</p>
  </div>
  <p class = "message">{{data.message}}</p>

  <div class="dialog_actions">
    <div class = "confirm_filter_container1" (click) = "confirm()">
      <p style = "font-size: 18px; margin: 0; color: white; font-weight: 600; font-family: Albert Sans;">OK</p>
    </div>
    <div class = "confirm_filter_container2" (click) = "cancel()">
      <p style = "font-size: 18px; margin: 0; color: white; font-weight: 600; font-family: Albert Sans;">CLOSE</p>
    </div>
  </div>
 </div>