<!-- FEATURED ITEMS TITLE -->
<div class = "featured_items_title_container">
   <div class = "events_title_container" style = "display: flex"> <!-- TO-DO: tab active: flex, tab inactive: none -->
      <img src = "event_assets/featured_solutions_title.png" width="100%">
   </div>

   <div class = "solutions_title_container" style = "display: none;"> <!-- TO-DO: tab active: flex, tab inactive: none -->
      <img src = "event_assets/featured_solutions_title.png" width="100%">
   </div>
</div>

<!-- FEATURED ITEMS -->
<div class = "featured_items_container">

   <!-- 1st CARD -->
   <div class = "featured_left">
      <app-service-card class = "featured_card" style = "position: absolute; z-index: 3;"/>
      <div class = "left_line" style = "top: 34%; width: 75%;"> </div>
      <div class = "left_line" style = "top: 66%; width: 80%; margin-left: 20px; border-radius: 20px;"> </div>
      <div class = "bubbles1_left"> </div>
      <div class = "bubbles2_left"> </div>
      <div class = "bubbles3_left"> </div> 
      <app-service-card class = "featured_card" style = "visibility: hidden;"/>  
   </div>
   
   <!-- 2nd CARD -->
   <div class = "featured_right">
      <app-product-card class = "featured_card" style = "position: absolute; z-index: 3;"/>
      <div class = "line_background"> </div>
      <div class = "right_line" style = "top: 34%; width: 75%;"> </div>
      <div class = "right_line" style = "top: 67%; width: 80%; margin-right: 20px; border-radius: 20px;"> </div>
      <div class = "bubbles1_right"> </div>
      <div class = "bubbles2_right"> </div>
      <div class = "bubbles3_right"> </div>
      <app-product-card class = "featured_card" style = "visibility: hidden;"/>
   </div>
   
   <!-- 3rd CARD -->
   <div class = "featured_left">
      <app-service-card class = "featured_card" style = "position: absolute; z-index: 3;"/>
      <div class = "left_line" style = "top: 34%; width: 75%;"> </div>
      <div class = "left_line" style = "top: 66%; width: 80%; margin-left: 20px; border-radius: 20px;"> </div>
      <div class = "bubbles1_left"> </div>
      <div class = "bubbles2_left"> </div>
      <div class = "bubbles3_left"> </div> 
      <app-service-card class = "featured_card" style = "visibility: hidden;"/> 
   </div>
   
   <!-- 4th CARD -->
   <div class = "featured_right">
      <app-service-card class = "featured_card" style = "position: absolute; z-index: 3;"/>
      <div class = "line_background"> </div>
      <div class = "right_line" style = "top: 34%; width: 75%;"> </div>
      <div class = "right_line" style = "top: 67%; width: 80%; margin-right: 20px; border-radius: 20px;"> </div>
      <div class = "bubbles1_right"> </div>
      <div class = "bubbles2_right"> </div>
      <div class = "bubbles3_right"> </div>
      <app-service-card class = "featured_card" style = "visibility: hidden;"/>
   </div>

   <!-- 5th CARD -->
   <div class = "featured_left">
      <app-product-card class = "featured_card" style = "position: absolute; z-index: 3;"/>
      <div class = "left_line" style = "top: 34%; width: 75%;"> </div>
      <div class = "left_line" style = "top: 66%; width: 80%; margin-left: 20px; border-radius: 20px;"> </div>
      <div class = "bubbles1_left"> </div>
      <div class = "bubbles2_left"> </div>
      <div class = "bubbles3_left"> </div> 
      <app-product-card class = "featured_card" style = "visibility: hidden;"/> 
   </div>
   
</div>
