p {
  margin: 0;
}

.error_dialog {
  max-width: 350px !important;
  text-align: center;
  padding: 15px;
  padding-top: 22px;
  padding-bottom: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
 
  .title_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 17px;
  }

    .icon {
      font-size: 26px;
      color: #f44336;
      margin-right: 11px;
      margin-bottom: 3.2px;
    }

    .title {
      color: #f44336;
      font-family: Albert Sans;
      font-size: 24px;
      font-weight: 600;
    } 

  .message {
    font-size: 17px;
    font-family: Albert Sans;
  }

  .confirm_filter_container {
    width: 26vw;
    padding: 9px;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgb(180, 180, 180);
    background: linear-gradient(to left, #848eb2, #a5b9d2);
    display: flex; 
    justify-content: center; 
    align-items: center;
    cursor: pointer;
 }
 .confirm_filter_container:hover {
    background: linear-gradient(to left, rgb(106, 115, 144), #97abc3);
 }