<div class = "all_container">
   <p class = "title">Pending reviews</p>

   <div class = "reviews_container">
      <div style = "display: flex; flex-direction: row;">
         <div class = "first_column">
            <p>DETAILS</p>
            <div class = "line"></div>
         </div>
   
         <div class = "second_column">
            <p>COMMENT</p>
            <div class = "line"></div>
         </div>
   
         <div class = "third_column">
            <p>DECISION</p>
            <div class = "line"></div>
         </div>
      </div>
      
      <div *ngFor="let review of paginatedPendingReviews;"
           style = "display: flex; flex-direction: row; margin-top: 15px">
         <div class = "first_column">
            <div class = "see_details_button_container">
               <p>See details</p>
            </div>
         </div>

         <div class = "second_column">
            <div class = "comment_container">
               <p>{{review.comment}}</p>
            </div>
         </div>

         <div class = "third_column">
            <div class = "decision_buttons_container">
               <div class = "accept_button_container">
                  <mat-icon>check</mat-icon>
               </div>

               <div class = "decline_button_container">
                  <mat-icon>delete</mat-icon>
               </div>
            </div>
         </div>     
      </div>

      <div class = "paginator_container">
         <mat-paginator 
            [length]="totalCount"
            [pageSize]="pageSize"
            [pageSizeOptions]="[1, 2, 5, 10]"
            aria-label="Select page"
            (page)="onPageChange($event)"
            style="background: white;"
         />
      </div>
   </div>

   
</div>
