<div class = "edit-container">
  <p class = "title">
    Edit Event
  </p>
  <form class="form" [formGroup]="basicInformationForm">
    <div>
      <mat-form-field class="field">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="Ex. My Event" formControlName="name" />
        @if (basicInformationForm.controls['name'].hasError('required')) {
          <mat-error>Name is <strong>required</strong></mat-error>
        }
        <button matSuffix mat-icon-button aria-label="Clear" (click)="basicInformationForm.controls['name'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Description</mat-label>
        <textarea type="text" matInput placeholder="Your Description" formControlName="description"></textarea>
        @if (basicInformationForm.controls['description'].hasError('required')) {
          <mat-error>Description is <strong>required</strong></mat-error>
        }
        <button matSuffix mat-icon-button aria-label="Clear" (click)="basicInformationForm.controls['description'].setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Maximum number of participants</mat-label>
        <input type="text" matInput placeholder="120" formControlName="maxNumberParticipants" />
        @if (basicInformationForm.controls['maxNumberParticipants'].hasError('required') &&
        !basicInformationForm.controls['maxNumberParticipants'].hasError('pattern')) {
          <mat-error>Maximum number of participants is <strong>required</strong></mat-error>
        }
        @if (basicInformationForm.controls['maxNumberParticipants'].hasError('pattern')) {
          <mat-error>Input must be a positive integer</mat-error>
        }
        <button matSuffix mat-icon-button aria-label="Clear" (click)="basicInformationForm.controls['maxNumberParticipants'].setValue(0)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="field">
        <mat-label>Select Event Type</mat-label>
        <mat-select formControlName="eventType">
          <mat-option *ngFor="let type of eventTypes" [value]="type.id">{{ type.name }}</mat-option>
        </mat-select>
        @if (basicInformationForm.controls['eventType'].hasError('required')) {
          <mat-error>Event Type is <strong>required</strong></mat-error>
        }
      </mat-form-field>
    </div>

    <div>
      <div id="map"></div>

      <div class="map-label-container">
        <p *ngIf="selectedAddress">Selected Location: {{ selectedAddress }}</p>
        <p *ngIf="!selectedAddress">Please select an address!</p>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date" placeholder="Select date" [min]="minDate" readonly>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>


</div>
