<mat-sidenav-container autosize>
  <!-- Drawer -->
  <mat-sidenav #drawer 
               mode="over"
               [style.width]='drawerWidth'
               [style.minWidth.px]='300'>
    <app-nav-drawer [drawer]="drawer"></app-nav-drawer>
  </mat-sidenav>

  <!-- Notifications Drawer (Right Side) -->
  <mat-sidenav #notificationsDrawer 
               mode="over" 
               position="end" 
               class="notification-drawer"
               [style.width]='drawerWidth'
               [style.minWidth.px]='300'>
    <app-all-notifications></app-all-notifications>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <app-nav-bar [drawer]="drawer" [notificationsDrawer]="notificationsDrawer"></app-nav-bar>
    <router-outlet></router-outlet>
    <app-footer *ngIf="showFooter"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
